# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

fabric/run/

# forge
forge/src/main/java/**/mod
forge/src/main/java/net/londonunderground/mod
forge/src/main/resources/assets
forge/src/main/resources/data
forge/run
#forge/src/main/resources/META-INF

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
