# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

fabric/run/

# Temporary: Can't get MTR with JCM to launch *in dev environment*, so have to copy all assets from MTR to JCM for testing, no plan to bundle it with the mod
fabric/src/main/resources/assets/mtr/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
